@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-comicNeue: "Comic Neue", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-RobotoSlab: "Roboto Slab", sans-serif;
}
